[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/belazarFati
[access "refs/for/refs/*"]
	read = group user/belazarFati
	push = group user/belazarFati
	label-Code-Review = -2..+2 group user/belazarFati
	label-Verified = -1..+1 group user/belazarFati
	rebase = group user/belazarFati
	removeReviewer = group user/belazarFati
	submit = group user/belazarFati
[access "refs/heads/*"]
	read = group user/belazarFati
	create = group user/belazarFati
	push = +force group user/belazarFati
	pushMerge = group user/belazarFati
[access "refs/tags/*"]
	push = group user/belazarFati
	push = +force group user/belazarFati
